@charset "utf-8"

$CUB-footer-padding: 1rem

.CUB
  &-footer
    background-color: $CUB-color-grey1

    &-legal
      @extend .is-size-7
      background-color: $CUB-color-grey2
      text-align: center
      padding: $CUB-footer-padding

