@charset "utf-8"

// Define custom color swatches
$CUB-color-green1: rgb( 83, 190, 122)
$CUB-color-green2: rgb( 14, 170,  72)
$CUB-color-green3: rgb( 52, 179,  98)
$CUB-color-orange: rgb(255,  96,   0)
$CUB-color-grey1:  rgb(250, 250, 250)
$CUB-color-grey2:  rgb(242, 242, 242)
$CUB-color-grey3:  rgb(190, 190, 190)
$CUB-color-black:  rgb(109, 109, 109)

$primary: $CUB-color-orange
$info:    $CUB-color-green3
$text:    $CUB-color-black

// Import Bulma's core
@import "~bulma/sass/utilities/_all"



// Overwrite default values
$mobile: $tablet - 1px
$navbar-breakpoint: $mobile
$card-shadow: no-shadow
$card-header-background-color: $CUB-color-grey1
$card-header-shadow: no-shadow
$card-header-padding: 0.75rem 2rem
$card-header-weight: 400
$card-content-padding: 2rem
$card-border-width: 1pt
$card-border-color: $CUB-color-grey3
.card
  &-header, &-content, &-footer
    border: $card-border-width solid $card-border-color
$checkbox-border-color: $CUB-color-green3
.checkbox
  input[type=checkbox] + .check
    box-shadow: none
  input[type=checkbox]:checked + .check
    box-shadow: none
$label-weight: 500


// Import bulma styles
@import "~bulma"

// Import buefy styles
@import "~buefy/src/scss/buefy"

// Customize look styles
@import './CUB-header.sass'
@import './CUB-footer.sass'
@import './CUB-scroll-top.sass'
@import './CUB-banner.sass'
@import './CUB-flex.sass'
@import './CUB-signup.sass'

.CUB
  &-nobreak
    word-break: keep-all
  &-wide-button
    padding-left: 3rem !important
    padding-right: 3rem !important
  +until($navbar-breakpoint)
    &-wide-button
      width: 100%
